<section class="vh-100">
  <div>
    <a href="">
      <p
        class="text-success"
        style="
          float: left;
          padding-left: 30px;
          padding-top: 30px;
          font-size: 40px;
        "
      >
        vLmNa
      </p>
    </a>
    <a href="">
      <p
        class="text-success"
        style="
          float: left;
          padding-left: 30px;
          padding-top: 30px;
          font-size: large;
        "
      >
        cart
      </p>
    </a>
    <a href="">
      <p
        class="text-success"
        style="
          float: left;
          padding-left: 30px;
          padding-top: 30px;
          font-size: large;
        "
      >
        orders
      </p>
    </a>

    <div>
      <div>
        <img
          style="
            float: right;
            padding-right: 30px;
            margin-top: 25px;
            border-radius: 50%;
            width: 6em;
            height: 5em;
          "
          src="https://images.statusfacebook.com/profile_pictures/girl-with-hat-profile-pics/girl-with-hat-profile-pictures-dp-for-whatsapp-facebook-17.jpg"
        />
      </div>

      <div>
        <a href="/login">
          <p
            class="text-success"
            style="
              float: right;
              padding-left: 30px;
              padding-top: 30px;
              font-size: large;
            "
          >
            login
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1>Hi HaVe A NiCe DaY</h1>
      </div>
    </div>
  </div>
</section>
