.dashboard {
  background-color: rgb(251, 239, 239);
  position: relative;
  height: 200px;
}
.user {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  float: right;
  margin-top: 2em;
  margin-right: 1em;
}
