header {
  display: flex;
  align-items: baseline;
  justify-content:start; 
  background-color: #2b1e16;
  background-image: url("../../../assets/bg.jpeg");
}

nav {
  display: flex;
}

nav > button {
  margin-left: 1.5rem;
  border: none;
  padding-bottom: 20rem;
  padding-top: 3rem;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

header > input {
  margin-left: 2rem !important;
  flex-grow: 0.0.1; 
  padding: 0.2rem;
  margin: 0.5rem 0;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.header--nav-login {
 padding-right:1.5rem !important;
  color: #2874f0 !important;
  font-weight: 400;
  padding: 0;
}
