<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vLmNa</title>
</head>

<body>
    <header>
        <nav>
            <button class="header--nav-login">
                <a [routerLink]="['/login']">Login</a> </button>
            <button>More</button>
            <button>Cart</button>
        </nav>
        <input type="text" placeholder="Search...">
    </header>
</body>

</html>