<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">vLmnA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">pRoductS
            <span class="sr-only">(current)</span></a>
        </li>
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="getCartProducts">cArT
              <span class="badge badge-success">{{cartCount}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">oRderS</a>
          </li>
        {{/if}}

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
        />
      </form>
      <div class="">

        <div class="dropdown show">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{#if user}}
              {{user.name}}
            {{else}}
              Account
            {{/if}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/signup">Signup</a>
            {{#if user}}
              <a class="dropdown-item" href="/logout">Logout</a>
            {{else}}
              <a class="dropdown-item" href="/login">Login</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>