<section>
  <div class="container">
    <div class="row">
      <form
        action="/admin/add-products"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input
            type="text"
            class="form-control"
            id="category"
            name="caregory"
            placeholder="Enter category"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="desccription"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            name="price"
            placeholder="Enter price"
          />
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input
            type="file"
            class="form-control-file"
            id="image"
            name="image"
          />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</section>